.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.burger-menu .bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
  transition: 0.3s;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}

.active {
  color: rgb(255, 8, 255);
}

#navigation-content {
  display: flex;
  flex-direction: row;
  font-size: 28px;
}

#navigation-content li {
  padding-right: 70px;
}

#navigation-content li:last-child {
  padding-right: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  font-size: 28px;
}

#navigationBurger-content {
  display: none;
}

.navigation li {
  padding: 30px;
}

.logo img {
  width: 8vw;
  border-radius: 100px;
}

/* Styles pour la navigation mobile */
@media (max-width: 767px) {
  body {
    overflow-y: scroll;
    background-attachment: fixed;
  }

  header {
    position: fixed;
    width: 100%;
    z-index: 3000;
  }

  .burger-menu {
    display: flex;
  }

  .overflowHidden {
    overflow: hidden;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    max-height: 0%;
    overflow: hidden;
    transition: 0.5s ease;
  }

  .navigationHeader {
    display: none;
  }

  #navigationBurger-content {
    display: block;
  }

  #navigationBurger-content li {
    margin-bottom: 30px;
  }

  #navigationBurger-content li:last-child {
    margin-bottom: 0;
  }

  .navigation.active {
    height: 100vh;
    position: absolute;
    max-height: 100%;
    top: 0;
    left: 0;
    z-index: 2999;
  }

  .navigation li {
    padding: 15px 0;
  }

  .logo img {
    width: 80px;
    max-width: 25vw;
  }
}
